/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato',verdana, sans-serif;
}

@media (max-width: 970px) {
    body {
        padding-top: 0;
        padding-bottom: 0;
        font-family: 'Lato',verdana, sans-serif;
    }
}

.square {
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.square-size-3 {
    width: 33.33%;
    padding-bottom: 33.33%;
}

.square-size-9 {
    width: 11.11%;
    padding-bottom: 11.11%;
}

.square-size-16 {
    width: 6.25%;
    padding-bottom: 6.25%;
}

.square-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.table-display {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell-display {
    display: table-cell;
    vertical-align: middle;
}

.square-border {
    border-style: solid;
    border-color: #1e1e1e;
}

.cell-highlight {
    background-color: yellow;
}

.cell-selected {
    background-color: lime;
}

.cell-fixed.cell-selected {
    background-color: orangered;
}

.nice-font-95 {
    font-weight: 900;
    font-size: 50px;
}

.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

.input-disabled {
    pointer-events: none;
}

.digit-filled {
    color: #0000ff;
}

@media (min-width: 320px) {
    .digit-lg {
        font-weight: 900;
        font-size: 30px;
    }

    .digit-sm {
        font-weight: 400;
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    .digit-lg {
        font-weight: 900;
        font-size: 30px;
    }

    .digit-sm {
        font-weight: 400;
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    .digit-lg {
        font-weight: 900;
        font-size: 40px;
    }

    .digit-sm {
        font-weight: 400;
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .digit-lg {
        font-weight: 900;
        font-size: 50px;
    }

    .digit-sm {
        font-weight: 400;
        font-size: 20px;
    }
}