<div class="row">
    <h1 class="text-center nice-font-95">Web Sudoku</h1>
    <hr />
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-success">A sudoku game using bootstrap and angular that targets all devices.</h3>
        <h3 class="text-info">The objective of the game is to fill the entire grid so that the digits from 1 to 9 appear exactly once in each region.</h3>
        <div class="panel panel-primary">
            <div class="panel-heading">Features</div>
            <ul class="list-group">
                <li class="list-group-item">Jul 15, 2014: User login to Firebase.</li>
                <li class="list-group-item">Jul 14, 2014: Keyboard input in game play.</li>
                <li class="list-group-item">Jul 11, 2014: Validation to complete a game.</li>
                <li class="list-group-item">Jun 24, 2014: Timer and candidate display.</li>
                <li class="list-group-item">Jun 19, 2014: Loading screen for better user experience.</li>
                <li class="list-group-item">Jun 16, 2014: Load puzzles from Firebase.</li>
                <li class="list-group-item">Jun 13, 2014: Grid display Sudoku board for all sizes.</li>
                <li class="list-group-item">Jun 12, 2014: Apple-style UI for settings.</li>
                <li class="list-group-item">Jun 11, 2014: Responsive UI for all devices.</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        <br />
        <a href="#home" class="btn btn-primary btn-lg btn-block">Back</a>
    </div>
</div>