<div class="row">
    <br />
    <div class="col-md-8">
        <div class="square square-size-9" ng-repeat="cell in level.cells">
            <div class="square-content">
                <div class="table-display">
                    <div class="table-cell-display">
                        <div class="digit-lg" ng-if="!cell.empty()" ng-class="{'digit-filled': cell.fixed}">{{cell.value}}</div>
                        <div ng-if="cell.empty()">{{cell.possibleValues}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="row">
            <div class="col-xs-4">
                <h3 class="text-left">
                    <span class="label label-info">Easy</span>
                </h3>
            </div>
            <div class="col-xs-4">
                <h3 class="text-center">
                    <span class="label label-info">#{{levelNo}}/{{totalLevel}}</span>
                </h3>
            </div>
            <div class="col-xs-4">
                <h3 class="text-right">
                    <span class="label label-info">{{timeUsed}}</span>
                </h3>
            </div>
        </div>
        <hr />
        <div ng-if="readonly" class="row">
            <div class="col-xs-3">
                <a href class="btn btn-primary btn-lg btn-block" ng-click="prevLevel()">&laquo;</a>
            </div>
            <div class="col-xs-6">
                <a href class="btn btn-primary btn-lg btn-block" ng-click="start()">Start Game</a>
            </div>
            <div class="col-xs-3">
                <a href class="btn btn-primary btn-lg btn-block" ng-click="nextLevel()">&raquo;</a>
            </div>
        </div>
        <table ng-if="!readonly" class="table table-condensed">
            <tbody>
                <tr ng-repeat="row in control.commands">
                    <td ng-repeat="cmd in row">
                        <button type="button" class="btn btn-primary btn-block" ng-click="cmd.func()">{{cmd.name}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>