<div class="row">
    <h1 class="text-center nice-font-95">Welcome to Web Sudoku</h1>
    <hr />
    <div class="col-sm-6 col-sm-offset-3">
        <a href="#continue" class="btn btn-info btn-lg btn-block" ng-class="{disabled: !isResumable}"><i class="fa fa-pause"></i> Resume Game</a>
        <a href="#startnew" class="btn btn-primary btn-lg btn-block"><i class="fa fa-play"></i> New Game</a>
        <a href="#settings" class="btn btn-warning btn-lg btn-block"><i class="fa fa-gear"></i> Settings</a>
        <a href="#rankings" class="btn btn-success btn-lg btn-block"><i class="fa fa-list"></i> Leader Boards</a>
        <a href="#about" class="btn btn-info btn-lg btn-block"><i class="fa fa-info"></i> About</a>
    </div>
</div>