<div class="row">
    <h1 class="text-center nice-font-95">New Game</h1>
    <hr />
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="form-group">
                <label class="control-label" for="style">Grid style</label>
                <select id="style" name="style" class="form-control">
                    <option>Standard</option>
                    <option>Squiggly</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="region">Extra regions</label>
                <select id="region" name="region" class="form-control">
                    <option>No extra regions</option>
                    <option>X-Sudoku</option>
                    <option>Hyper-Sudoku</option>
                    <option>Percent-Sudoku</option>
                    <option>Color-Sudoku</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="difficulty">Level of difficulty</label>
                <select id="difficulty" name="difficulty" class="form-control">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Challenging</option>
                    <option>Hard</option>
                    <option>Fiendish</option>
                </select>
            </div>
            <div class="form-group">
                <p class="text-info text-center">
                    (Puzzles solved: {{numSolved}}, Average time: {{averageTime}}, Fastest time: {{fastestTime}})
                </p>
            </div>
            <div class="form-group">
                <a href="#gameplay" class="btn btn-primary btn-lg btn-block">Continue</a>
            </div>
        </form>
    </div>
</div>